<%= render 'top_nav' %>
<div class="flex flex-row h-full">
  <!-- Sidebar -->
   <%= render 'side_nav' %>

      <div class="px-16 py-4 text-gray-700 bg-gray-200 h-full w-screen">
<%= link_to 'New Property', new_property_path %>
        <!-- Content -->
        <%= render 'properties/on_sale', obj: @properties %>
      </div>
</div>